
.riquadro {
height:30vh;
margin-bottom: 20px;
border-radius: 20px;
margin-left:20px;
border-color: black;
	        }
	    
.avvisi {
margin-top: 20px; /* Spinge il form degli avvisi in basso */
 }
	    
.container-fluid1 {
margin-top: 60px;
display: flex; 
height: 100vh; /* Imposta l'altezza al 100% della viewport height */
}

#testoAvviso {
	min-height: 150px;
	max-height: 205px
}
    
#testoObiettivi {
	min-height: 150px;
	max-height: 205px
}	      
	    
