@charset "UTF-8";


#loginBox {
    position: static;
    background-color: f8f8f8;
    border: 1px solid;
    padding: 20px;
    border-radius: 5px;
    height: 400px;
    width: 550px;
    margin:auto;
    margin-bottom:208px;
    margin-top: 180px; /* Puoi regolare il margine superiore a tuo piacimento */
}


#loginBox p strong {
    font-weight: bold;
}

#loginBox p {
    font-size: 100%;
}

.email1, input[type="password"] {
    width: calc(100% - 10px); /* Sottrae lo spazio dai margini per mantenere la larghezza corretta */
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Garantisce che il padding non aumenti la larghezza dell'elemento */
}

@media (max-width: 768px) {
    #loginBox {
        margin-top:100px;
		height: 370px;
    	width: 350px;
    }
}




