@charset "UTF-8";

#logo {
	margin-left: 0px;
}

#loginBox {
    position: static;
    background-color: f8f8f8;
    border: 1px solid;
    padding: 20px;
    border-radius: 5px;
    height: 400px;
    width: 550px;
    margin:auto;
    margin-bottom:208px;
    margin-top: 180px;
}


#loginBox p strong {
    font-weight: bold;
}

#loginBox p {
    font-size: 100%;
}

.email1, input[type="password"], input[type="text"] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#showPass {
	font-size: 8px;
    cursor: pointer;
    background-color: #adadad;
    color: #535353;
    border: none;
    padding: 4px 6px;
    margin-top: 10px;
}

#showPass:hover {
    background-color: #93964b;
}

@media (max-width: 768px) {
    #loginBox {
        margin-top:100px;
		height: 420px;
    	width: 350px;
    }
}

/* Stile per i messaggi di errore */
.error-message {
    color: #ff0000;
    margin-top: 5px;
    font-size: 14px;
}


