@charset "UTF-8";

#signinContainer {
    position: static;
    padding: 20px;
    border-radius: 5px;
    height: auto;
    width: auto;
    justify-content: center;
}

/* Stile generale per il form */
form {
    max-width: auto;
    margin: 5% 5% 5% 10%;
    padding: 20px 40px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

/* Stile per le caselle di input */
.inputBox {
    margin-bottom: 15px;
}

.inputBox i {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.inputBox input {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Stile per i messaggi di errore */
.error-message {
    color: #ff0000;
    margin-top: 5px;
    font-size: 14px;
}

/* Stile per i link di accesso */
.links {
    margin: 10px;
    text-decoration: none;
    text-align: center;
    color: #333;
}

.links a {
    margin-left: 10px;
}

.links a:hover {
    color: rgb(250, 158, 5);
}

/* Stile per il pulsante di invio */
#submit-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin: auto;
}

.imgsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgsContainer img {
    max-width: 100%;
    max-height: 100%;
    align-self: center; /* Centra verticalmente */
    margin: auto; /* Centra orizzontalmente */
    display: block;
}

