@charset "UTF-8";

/* Stili per il form */
.form-container {
	height: 380px;
    max-width: 450px; /* Larghezza massima del form */
    margin: 30px 0 30px 0; /* Margine superiore e inferiore per centrare il form */
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 330px; /* Aggiunta margine in basso per spostare il footer */
}

.form-group {
    margin-bottom: 15px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: calc(100% - 10px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group input[type="submit"] {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

.welcome-message {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px ;
}

.welcome-message h2 {
    font-size: 23px;
   	color: #333;
      
}

/* Stili per i placeholder */
.form-group input[type="text"]::placeholder,
.form-group input[type="password"]::placeholder {
    color: #888; /* Colore del testo del placeholder */
    font-style: italic; /* Stile del testo del placeholder */
}
