@charset "UTF-8";

.form-container {
    max-width: 500px;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group input[type="submit"] {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

.welcome-message {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.welcome-message h2 {
    font-size: 23px;
    color: #333;
}

.form-group input[type="text"]::placeholder,
.form-group input[type="password"]::placeholder {
    color: #888;
    font-style: italic;
}

#myCredentials {
    max-width: 100%;
}
